.layout__wrapper{
overflow-y: hidden;
display: flex;
width: 100vw;
height: 100vh;
border: 0px 0px 0px 1px;
}


 .dashboard{
  height: Fill (982px);
  width: 94.5vw;
  padding: 48px 100px;
  gap: 24px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-right: 0.5rem;
}

@media only screen and (max-width:900px) {
  .layout__wrapper{
    display: flex;
    flex-direction: column;
  
  }
  .dashboard{
    width: 100vw;
    position: absolute;
    top: 12rem;
    padding: 1rem;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .layout__wrapper> .sideContainer{
    position: relative;
    bottom: 100%;  
    left: 0;
    top: 0;
    right: 100%;
    padding: 1rem 0 1rem 1rem;
    gap: 3rem;
    border: none;
    display: flex;
   max-height: 25vh;
   width: 100vw;
   
   margin: 0;
   
  }
  .sideTitle{
    width: fit-content;
  }

  .sideContainer > .itemsList{
    flex-direction: row;
    max-width:fit-content;
    gap: 1rem;
    position: relative;
    top: -2rem;
    align-items: center;
    justify-content: center;
justify-self: center;
align-self: center;
  }
  .layout__wrapper> .sideContainer> .itemsList> .itemSideContainer{
    width: 90px;
    height: 90px;

  }
.layout__wrapper> .sideContainer> .itemsList> .itemSideContainer>.icon{
  width: 35px;
  height: 35px;
}
  .sideContainer >.btnSide{
    display: none;
  }

  .header, .bodyBox, .footer{
    width: 90vw;
  }
}
/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #FAFAFA;
}

/* Track */
::-webkit-scrollbar-track {
  height: 597px;
   width: 10px; 
} 


/* Handle */
 ::-webkit-scrollbar-thumb {
  background: #E9E9E9;
  border-radius: 21px;
   width: 10px; 

} 



.header, .bodyBox, .footer{
  width: Fill (834px);
  height: Hug (204px);
  padding: 16px 8px;
  border-radius: 4px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.title{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  vertical-align: Cap height;
}
.headerContainer, .bodyBoxContainer, .footerContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  max-width: 100%;
  padding:64px, 32px, 64px, 32px;
}


.itemFooter, .itemHeader, .itemBodyBox{
  width: 100%;
  height: 15vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}



.itemFooter> .itemInUse{
  width: 50px;
height: 50px;
}

.sideContainer{
  min-width: 460px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 0px 0px 0px 1px;
  gap: 40px;
  background-color: var(--secondary-color);
  border-left: 1px solid #E9E9E9;
}

.collapsed{
  width: 80px;
  height: inherit;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-left: 1px solid #E9E9E9;
  border: 0px 0px 0px 1px;
  position: fixed;
  right: 0;
  padding: 32px;
 }
 .btnSide{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 0.5px #C2C2C2;
 }
 
 .collapsed .btnSide{
  position: relative;
  right: 12.5px;
 }

 .sideContainer .btnSide{
  position: relative;
  left:0;
}

.btnSide:hover{
  transition: box-shadow 0.3s ease-in-out ;
  box-shadow: none;

}
.btnSide > img{
  width: 75%;  
}
.collapsed .sideTitle, .collapsed .itemsList{
  display: none;
}

.sideContainer > .itemsList{
  display: flex;
  width: 396px;
  height: 110px;
  justify-content: space-between;
}

.itemSideContainer{
  width: 110px;
  height: 110px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 5px 0.5px #C2C2C2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  position: static;
}

.sideTitle{
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}

.icon{
  width: 43px;
  height: 43px;
}

.itemSideContainer:hover{
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out ;
}

.itemSideContainer:focus{
  box-shadow: none;
  border: 1px solid  #C2C2C2;  
}

.default{
  color: var(--default-text-color);
  font-weight: 400;
  font-size: 14px;
  background-color: white;
  width: 100%;
  height:6.5rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index:0;
  border-radius: 2px;
  border: 1px dotted var(--dash-border-color);
}